body {
  background-color: #f8e8a6;
}
h1,
p {
  text-align: center;
}
h1 {
  margin: 22px auto;
}
footer a {
  color: green;
  margin: 0 10px;
}
footer a:visited {
    color:green;
}
footer a:hover {
  color: green;
}
footer {
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 30px auto;
}
s